* {
  box-sizing: border-box;
}

body,
html {
  margin-bottom: 0;
  margin-top: 0;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(187, 187, 187);
}

.main {
  width: 70%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
} ;
