* {
  box-sizing: border-box;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(187, 187, 187);
}

svg {
  transition: 1s transform;
}

.main {
  width: 75%;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .main {
    width: 100%;
    margin: 0 auto;
  }
} ;
