* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: rgb(50, 50, 50);
  color: rgb(187, 187, 187);
  overflow-y: scroll;
}

.main {
  width: 55%;
  margin: 0 auto;
}

@media (max-width: 1440px) {
  .main {
    width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  body,
  html {
    margin-bottom: 0;
    margin-top: 0;
  }

  .main {
    width: 100%;
    margin: 0 auto;
  }
} ;
